/* seleção de todos os elementos */
* {
	margin: 0;
	padding: 0;

}


/* definição do tamanho e formato do corpo da pagina */ 
body {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ff99ff;
}


/* criação da borda visivel  
header, aside, article, #aside, nav, footer {
	border: solid #000 1px;
}
 */


/* definição do cabeçalho do corpo */
header {
	width: 100%;
	height: 25%;
}
header img {
	width: 100%;
	height: 25%;

}


/* definição da parte de navegação da pagina */
nav{
	width: 100%;
	height: 30%;
	float: left;
	background-color: #C0C0C0;
}
nav a {
	font-family: Andale Mono, monospace;
	text-decoration: none;
	text-align: center;
	background-color: #C0C0C0; 
	padding-top: 11px;
	width: 300px;
	height: 50px;
	float: left;
	font-weight: bold;
	font-size: 1.5em;
}

}
nav a:hover{
	color: #2637ea;
	background-color: #ff99ff; 
	border-color: #F00;
	transition: 0.3s;
}
/* definição da parte do "aside esquerdo" */

aside {
	width: 15%;
	height: 600px;
	background-image: url(fundo.jpg);
	background-repeat: repeat-y; 
	float: left;
}


/* definição da parte do meio da pagina "conteudo" */
article {
	width: 70%;
	height: 600px;
	float: left;	
	background-size: 100%;
	background-size: cover;
}
#bolofundo {
	background-image: url(boloflocos.jpg);
	overflow: scroll auto;
}
article h1 {
	font-size: 1.9em;
	padding-left: 300px;
	line-height: 1.4em;
}

#titulo {
	color: #cc2599;
	font-weight: bolder;
	text-decoration: overline underline;
	text-shadow: 1px 1px 1px #000;
}


article p{
	color: #ff99ff;
	width: 50%;
	font-size: 22px;
	padding-left: 200px;
	line-height: 1.4em;
	text-align: justify;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	font-family: FreeMono, monospace;
}
article table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;	
}
article table img {
	width:50px;
	height:50px;
	float:left;
}
article table a {
	width:100%;
	height:50px;
}
#table  {
	width: 615px;
	height: 140px;
	background-color:#fff;
	margin-top:30px;
	margin-left:110px
}
#table td tr: hover {
	background-color:#ff99ff;
}
#table  tr td {
	font-family: FreeMono, monospace;
	text-align: center;
	border-style: solid;
	border-width: 3px;
	letter-spacing: 3px;
}
iframe {
	margin-top: 190px;
}
/* definição da parte do "aside direito" */
#aside {
	width: 15%;
	height: 600px;
	background-image: url(fundo.jpg);
	background-repeat: repeat-y;
	float: left;
}
/*#aside img {
	width: 100%;
	height: 100%;
	float: left;
}*/
/* definição da parte do rodapé da pagina */
footer {
	width: 100%
	height: 200px;
	clear: both;
}
footer p {
    margin-top: 10px;
	margin-left: 35%;
	text-align: center;
	float: left;
	margin-right: 10%;
}
footer img {
	width: 10%;
	height: 5%;	
}
/*página produtos tabela*/

